doctype html
html 
head 
title Contact page
link(rel="stylesheet", href="styles.css")
body 
nav 
ul
li 
a(href="/home-page") Home
li 
a(href="/services") Our services 
li
a(href="/contact") contact us
h1#first-heading Contact Us
p.greetings#people Welcome to the contact page 
